# --- ไฟล์ระบบและ Python ---
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/

# --- ข้อมูลและผลการเทรน (ห้ามเอาขึ้นเด็ดขาด ไฟล์ใหญ่มาก) ---
data/
runs/
fer_yolo_cls/

# --- ไฟล์โมเดลตัวหนักๆ (ถ้าอยากเก็บ .onnx ไว้โชว์ ให้ลบบรรทัด *.onnx ออก) ---
*.pt
# *.onnx

# --- Environment ---
venv/
env/